.chat {
  background-color: rgb(246, 246, 251);
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  .text {
    display: flex;
    align-items: center;
    //background-color: rgb(43, 44, 46);
    justify-content: space-between;
    padding: 10px;
  }
  .search {
    //background-color: rgb(81, 88, 90);
    height: 42px;
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
    .sh {
      width: 100%;
      height: 100%;
      //background-color: rgb(236, 226, 246);
      border: none;
      border-radius: 10px;
      font-size: 13px;
      padding-left: 10px;
    }
    .sh:focus {
      outline: none;
    }
  }
  .arch {
    display: flex;
    align-items: center;
    width: 100%;
  }
  hr {
    width: 80%;
    align-self: center;
  }
  .pinned {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.elem {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  height: 58px;
  width: 90%;
  align-self: center;
  margin-top: 12px;
  border-radius: 9px;
  //   margin: 10px 15px;
  //   padding: 6px;
  .cont {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      //position: absolute;
    }
    .online {
      width: 10px;
      height: 10px;
      background-color: rgb(132, 165, 81);
      border-radius: 50%;
      position: relative;
      left: -7px;
      bottom: -7px;
      border: 2px solid white;
    }
    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
    }
  }
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    .x {
      background-color: rgb(105, 105, 216);
      padding: 3px;
      color: white;
      border-radius: 50%;
      height: 17px;
      width: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}
.elem:hover {
  background-color: rgb(162, 162, 243);
  color: white;
  cursor: pointer;
}
