.divider {
  // background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  hr {
    width: 40%;
    border: none;
    background-color: rgb(193, 202, 205);
    height: 1px;
  }
}
.text {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
}
.media {
  margin: 5px 10px 5px 10px;
}
.reply {
  padding: 5px 10px 5px 10px;
}
.Link {
  padding: 5px 10px 5px 10px;
}
.docx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.doc {
  padding: 5px 10px;
}
